{#
/**
 * @file
 * Override the template for radio form elements.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
{# Rating star radios require minimal markup. #}
{% if attributes.name == 'field_training_review_overall' or attributes.name == 'field_training_review_content'
  or attributes.name == 'field_training_review_relevance' or attributes.name == 'field_training_review_present' %}
  <input{{ attributes }} />{{ children }}
{% else %}
{# Markup required for basic custom round green radio buttons. #}
  <span class="custom-radio">
    <input{{ attributes }} />{{ children }}
  <span class="radio-target"></span></span>
{% endif %}

