{#
/**
 * @file
 * Override the template for checkbox form elements.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
<span class="custom-checkbox">
  <input{{ attributes }} />{{ children }}
<span class="checkbox-target"></span></span>

