.site-header-container {
  @extend .container;
  padding-top: $padding-sm;
  padding-bottom: $padding-sm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }
}

.site-header-container > div {
  @include media-breakpoint-up(lg) {
    margin-left: 5%; // per designs
    &:first-child {
      margin-left: 0;
    }
  }
}

.site-header-container .training-search-form {
  @include media-breakpoint-down(md) {
    // At smaller screens search form takes up 100% width
    flex: 1 1 100%;
    margin-top: $padding-sm;
    margin-bottom: $padding-sm;
  }
}