.site-header-container {
  @extend .container;
  padding-top: $padding-sm;
  padding-bottom: $padding-sm;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }
}

.site-header-container > div,
.site-header-container > nav {
  @include media-breakpoint-up(lg) {
    margin-left: 5%; // per designs
    &:first-child {
      margin-left: 0;
    }
  }
}

.site-header-container > nav {
  @include media-breakpoint-down(md) {
    flex: 1 1 auto; // Makes this take the appropriate amount of space at small screens
  }
}

.site-header-container .training-search-form {
  @include media-breakpoint-down(md) {
    // At smaller screens search form takes up 100% width
    flex: 1 1 100%;
    margin-top: $padding-sm;
    margin-bottom: $padding-sm;
  }
}

// Puts the menu button at the end of the flex container, i.e., the far right
.site-header-container > .menu-btn {
  @include media-breakpoint-up(lg) {
    order: 2;
  }
}


// At this breakpoint we want the order to go menu, menu button, search
@include media-breakpoint-between(sm, md) {
  .site-header-container > nav {
    order: 1;
    margin-left: 5%;
  }

  .site-header-container > .menu-btn {
    order: 2;
  }

  .site-header-container .training-search-form {
    order: 3;
  }
}

.site-header-container .site-logo {
  // This is flexbox's way of overriding justify-content
  // Keeps the logo at the start of the container despite the container having justify-content: flex-end
  margin-right: auto;
}