// Fancy animation for nav close button
.menu-btn {
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  cursor: pointer;
}

.menu-btn-interior {
  position: relative;
  height: 33px; // Dimensions per designs
  width: 41px;
}

.menu-btn-interior span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

// Special styles for close btn
nav#block-nnphi-main-menu .menu-btn {
  z-index: 100; // position above menu link if it overlaps
  position: absolute;
  top: $padding-sm;
  right: $padding-sm;
}

nav#block-nnphi-main-menu .menu-btn-interior span {
  background: transparent;
}

nav#block-nnphi-main-menu .menu-btn-open .menu-btn-interior span {
  background: #fff;
}


// Menu button animation effects
.menu-btn-interior span:nth-child(1) {
  top: 0;
}

.menu-btn-interior span:nth-child(2),
.menu-btn-interior span:nth-child(3) {
  top: 50%;
}

.menu-btn-interior span:nth-child(4) {
  top: 100%;
}

.menu-btn-open span:nth-child(1) {
  top: 50%;
  width: 0;
  left: 50%;
}

.menu-btn-open span:nth-child(2) {
  transform: rotate(45deg);
}

.menu-btn-open span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu-btn-open span:nth-child(4) {
  top: 50%;
  width: 0;
  left: 50%;
}