// Label and input widths are used on a few different selectors
%label-width {
  flex: 1 1 20%;
  @include media-breakpoint-down(sm) {
    flex: 1 1 100%;
  }
}

%input-width {
  flex: 1 80%;
  @include media-breakpoint-down(sm) {
    flex: 1 1 100%;
  }
}

.page-entity-user-edit_form main,
.page-user-register main,
.page-user-login main,
.page-user-pass main {
  @extend .container;
}

.page-entity-user-edit_form .layout-content,
.page-user-register .layout-content,
.page-user-login .layout-content,
.page-user-pass .layout-content {
  @extend .col-md-8;
  @extend .offset-md-2;
  margin-top: $padding-lg;
  margin-bottom: $padding-lg;
  padding: $padding-lg;
  box-shadow: $box-shadow;
  @include media-breakpoint-down(sm) {
    margin-top: $padding-sm;
    margin-bottom: $padding-sm;
    padding: $padding-sm;
    box-shadow: none;
  }
}

.page-entity-user-edit_form h1,
.page-user-register h1,
.page-user-login h1,
.page-user-pass h1 {
  @extend %blue-heading;
  margin-bottom: $padding-md;
}

.user-form .form-item,
.user-register-form .form-item,
.user-login-form .form-item,
.user-pass .form-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-bottom: $padding-md;
}

.user-pass .form-item {
  margin-bottom: 0;
}

  // Remove space between confirm password and password requirements
.user-form .form-item.form-item-pass-pass2,
.user-register-form .form-item.form-item-pass-pass2 {
  margin-bottom: 0;
}

.user-form .form-item label,
.user-register-form .form-item label,
.user-login-form .form-item label,
.user-pass .form-item label {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0; // overrides default label margin
  @extend %label-width;

}

.user-form .form-item label.form-required,
.user-register-form .form-item label.form-required,
.user-login-form .form-item label.form-required,
.user-pass .form-item label.form-required {
  &:after {
    content: '*';
    position: absolute;
  }
}

.user-form .form-item input,
.user-register-form .form-item input,
.user-login-form .form-item input,
.user-pass .form-item input {
  @extend %input-width;
  @extend .form-control;
}

// Algolia autocomplete span sometimes has another .algolia-autocomplete span inside it,
// so this restricts it to just the outer one
.user-form .form-item > .algolia-autocomplete,
.user-register-form .form-item > .algolia-autocomplete {
  @extend %input-width;
}

.user-form .form-submit,
.user-register-form .form-submit,
.user-login-form .form-submit,
.user-pass .form-submit {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-primary;
  &:hover {
    cursor: pointer;
  }
}

.user-form .password-confirm .ok,
.user-register-form .password-confirm .ok {
  color: $green;
}

.user-form .password-confirm .error,
.user-register-form .password-confirm .error {
  color: $red;
}

.user-form .password-suggestions,
.user-register-form .password-suggestions {
  display: none !important; // Overrides javascript inline style. We're using password_policy for password suggestions
}

.user-form .password-strength,
.user-register-form .password-strength {
  @extend %input-width;
  margin-left: auto;
  display: flex;
}

.password-strength__title {
  @extend %label-width;
}

.password-strength__meter {
  order: 1; // Reverses order of title and meter
  background: $red;
  @extend %input-width;
}

.password-strength__indicator {
  background: linear-gradient(to right, $green, $green 80%, $red);
  &.is-strong {
    background: $green;
    width: 100% !important; // Overrides js inline style, which only sets the width to 87.5% max
  }
}

.password-strength__text {
  display: none;
}

// Hide all descriptions per designs
.user-form .description,
.user-register-form .description,
.user-login-form .description {
  display: none;
}

#password-policy-status {
  margin-bottom: $padding-md;
}

#password-policy-status thead {
  font-weight: bold;
  text-transform: uppercase;
}

#password-policy-status tr {
  @include media-breakpoint-down(md) {
    // Fix the table at small screen sizes
    display: flex;
    flex-direction: column;
    margin-bottom: $padding-sm;
  }
}

#password-policy-status td {
  padding: 5px 15px 5px 0;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

// Hide the first column of table, which just says "user password" in each cell
#password-policy-status tr td:first-of-type {
  display: none;
}

// Dashboard blocks
.block-user-banner {
  padding-top: 0;
  padding-bottom: 10%;
  background-image: url(/themes/custom/nnphi/svg/swirls.svg);
  background-size: 136%;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 13%;
  border-bottom: solid 1px $gray-light;
}

.block-user-banner h1 {
  color: $blue;
  position: relative;
  top: -8rem;
}

.block-user-profile,
.block-bookmarked-trainings,
.block-user-training-suggestions {
  border: 1px solid $gray-light;
  margin-top: $padding-md;
}

.block-user-profile h2,
.block-bookmarked-trainings h2,
.block-user-training-suggestions h2 {
  padding: 1rem 0 1rem 1rem;
  text-transform: uppercase;
  float: left;
  margin-bottom: 0;
  display: inline-flex;
  align-items: center;
}

.block-user-profile h2 + a {
  float: right;
  margin: 1rem 0 .5rem 0;
  text-transform: uppercase;
}

.page-entity-user-canonical [class^="block-"] h2::before {
  content: '';
  width: 2rem;
  height: 2rem;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 1rem;
}

.block-user-profile h2::before {
  background-image: url(/themes/custom/nnphi/svg/profile-icon.svg);
}

.block-bookmarked-trainings h2::before {
  background-image: url(/themes/custom/nnphi/svg/bookmark.svg);
}

.block-learning-plans h2::before {
  background-image: url(/themes/custom/nnphi/svg/learning-plans.svg);
}

.block-user-training-suggestions h2::before {
  background-image: url(/themes/custom/nnphi/svg/suggested.svg);
}

.block-user-profile h2 + a::after {
  content: '';
  width: 1rem;
  height: 1rem;
  background-image: url(/themes/custom/nnphi/svg/pencil.svg);
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 .5rem;
}

.block-user-profile article,
.block-bookmarked-trainings .block-content {
  clear: both;
  border-top: 1px solid $gray-light;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.block-learning-plans .block-content,
.block-user-training-suggestions .block-content {
  clear: both;
  border-top: 1px solid $gray-light;
}

.block-user-profile article .media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-user-profile article .media-body {
  display: flex;
  flex-direction: column;
}

.block-user-profile article .media,
.block-user-profile article + a {
  margin: 1rem;
}

.block-user-profile article + a {
  text-transform: uppercase;
  color: $green;
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-outline-primary;
  display: flex;
  justify-content: center;
  margin: 0 4rem 1rem;
}

.page-entity-user-canonical #block-nnphi-local-tasks {
  display: none;
}

.field.user-picture img,
.image-widget img {
  @extend .rounded-circle;
  border: 1px solid $gray-light;
  padding: 1rem;
  box-sizing: content-box;
  margin: 1rem 0;
}

.block-user-profile .field {
  clear: both;
  display: inline-flex;
}

.block-user-profile .field-label {
  font-family: $font-family-work-sans;
  font-size: 1rem;
  font-weight: 500;
  color: inherit;
  text-transform: uppercase;
  float: left;
  min-width: 8rem;
}

.block-user-profile .field-value {
  font-family: $font-family-lato;
  color: $gray-text;
}
// Bookmarked Trainings
.page-entity-user-canonical .training-bookmarks {
  clear: both;
  border-top: 1px solid $gray-light;
}

.page-entity-user-canonical .training-node-mini {
  padding: 1rem;
  margin-top: 0;
}

.page-entity-user-canonical .training-bookmark,
.block-user-training-suggestions .block-content {
  border-bottom: solid 1px $gray-light;
  overflow: hidden;
  padding: 0 1rem 0 3rem;
}

.block-user-training-suggestions {}

.page-entity-user-canonical .training-bookmark article,
.page-entity-user-canonical .block-user-training-suggestions article {
  display: inline;
  float: left;
  width: 80%;
}

.page-entity-user-canonical .training-bookmark .training-node-teaser-top-left,
.page-entity-user-canonical .block-user-training-suggestions .training-node-teaser-top-left {
  float: left;
}

.page-entity-user-canonical .training-bookmark h5,
.page-entity-user-canonical .block-user-training-suggestions h5 {
  clear: both;
}

.page-entity-user-canonical .training-node-star {
  float: right;
  margin-top: 0;
}

.flag-bookmark.action-unflag,
.flag-bookmark.action-flag {
  width: 20px;
}

.page-entity-user-canonical .flag-bookmark.action-unflag,
.page-entity-user-canonical .flag-bookmark.action-flag {
  float: right;
  margin-top: 2.3rem;
}

.page-entity-user-canonical .flag-bookmark.action-flag svg .st0 {
  stroke: $gray-light;
}

// Recently Viewed Trainings
.page-entity-user-canonical .block-region-main {
  width: 100%;
}

.page-entity-user-canonical section.training-related {
  background: linear-gradient($carmine, $violet);
  margin-top: $padding-md;
}

// Suggested Trainings

.page-entity-user-canonical .node-preview-disabled {
  clear: both;
  text-align: center;
  margin-bottom: 1rem;
}

.page-entity-user-canonical .node-preview-disabled a {
  color: $green;
  text-transform: uppercase;
}

.node-preview-disabled h5 a {
  color: $gray-light;
}

// Announcements
.block-announcements h2 {
  text-align: center;
  margin: 4rem 0 1rem;
  text-transform: uppercase;
}