// Label and input widths are used on a few different selectors
%label-width {
  flex: 1 1 20%;
  @include media-breakpoint-down(sm) {
    flex: 1 1 100%;
  }
}

%input-width {
  flex: 1 80%;
  @include media-breakpoint-down(sm) {
    flex: 1 1 100%;
  }
}

.page-user-register main,
.page-user-login main,
.page-user-pass main,
.page-change_pwd_page-change_password_form main,
.page-entity-user-edit_form main{
  @extend .container;
}

.page-entity-user-edit_form .layout-content,
.page-user-register .layout-content,
.page-user-login .layout-content,
.page-user-pass .layout-content,
.page-change_pwd_page-change_password_form .layout-contentt {
  @extend .col-md-8;
  @extend .offset-md-2;
  margin-top: $padding-lg;
  margin-bottom: $padding-lg;
  padding: $padding-lg;
  box-shadow: $box-shadow;
  @include media-breakpoint-down(sm) {
    margin-top: $padding-sm;
    margin-bottom: $padding-sm;
    padding: $padding-sm;
    box-shadow: none;
  }
}

.page-entity-user-edit_form h1,
.page-user-register h1,
.page-user-login h1,
.page-user-pass h1 {
  @extend %blue-heading;
  margin-bottom: $padding-md;
}

.user-form .form-item,
.user-register-form .form-item,
.user-login-form .form-item,
.user-pass .form-item,
.change-pwd-form .form-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-bottom: $padding-md;
}

.user-pass .form-item {
  margin-bottom: 0;
}

// Remove space between confirm password and password requirements
.user-form .form-item.form-item-pass-pass2,
.user-register-form .form-item.form-item-pass-pass2 {
  margin-bottom: 0;
}

%user-form-label,
.user-form .form-item label,
.user-register-form .form-item label,
.user-login-form .form-item label,
.user-pass .form-item label,
.change-pwd-form label{
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0; // overrides default label margin
  @extend %label-width;

}

.user-form .form-item label.form-required,
.user-register-form .form-item label.form-required,
.user-login-form .form-item label.form-required,
.user-pass .form-item label.form-required,
.change-pwd-form .form-item label.form-required{
  &:after {
    content: '*';
    position: absolute;
  }
}

.user-form .form-item input,
.user-register-form .form-item input,
.user-login-form .form-item input,
.change-pwd-form .form-item input,
.user-pass .form-item input {
  @extend %input-width;
  @extend .form-control;
}

// Algolia autocomplete span sometimes has another .algolia-autocomplete span inside it,
// so this restricts it to just the outer one
.user-form .form-item > .algolia-autocomplete,
.user-register-form .form-item > .algolia-autocomplete {
  @extend %input-width;
}

.user-form .form-submit,
.user-register-form .form-submit,
.user-login-form .form-submit,
.user-pass .form-submit,
.change-pwd-form .form-submit {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-primary;
  &:hover {
    cursor: pointer;
  }
}


// Slightly ugly, but keeps the buttons at top of password reset form on one line
.page-change_pwd_page-change_password_form .block-local-tasks-block > ul {
  align-items: center;
  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: flex-start;
  }
  a {
    white-space: normal;
  }
}

.user-form .password-confirm .ok,
.user-register-form .password-confirm .ok {
  color: $green;
}

.user-form .password-confirm .error,
.user-register-form .password-confirm .error {
  color: $red;
}

.user-form .password-suggestions,
.user-register-form .password-suggestions {
  display: none !important; // Overrides javascript inline style. We're using password_policy for password suggestions
}

.user-form .password-strength,
.user-register-form .password-strength {
  @extend %input-width;
  margin-left: auto;
  display: flex;
}

.password-strength__title {
  @extend %label-width;
}

.password-strength__meter {
  order: 1; // Reverses order of title and meter
  background: $red;
  @extend %input-width;
}

.password-strength__indicator {
  background: linear-gradient(to right, $green, $green 80%, $red);
  &.is-strong {
    background: $green;
    width: 100% !important; // Overrides js inline style, which only sets the width to 87.5% max
  }
}

.password-strength__text {
  display: none;
}

// Hide all descriptions per designs
.user-form .description,
.user-register-form .description,
.user-login-form .description {
  display: none;
}

.form-item-name .description {
  display: inherit;
}

#password-policy-status {
  margin-bottom: $padding-md;
}

#password-policy-status thead {
  font-weight: bold;
  text-transform: uppercase;
}

#password-policy-status tr {
  @include media-breakpoint-down(md) {
    // Fix the table at small screen sizes
    display: flex;
    flex-direction: column;
    margin-bottom: $padding-sm;
  }
}

#password-policy-status td {
  padding: 5px 15px 5px 0;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.password-strength__meter {
  margin: 1rem;
  border-radius: 7px;
}

// Hide the first column of table, which just says "user password" in each cell
// Hide second column with pass/fail status
#password-policy-status tr td:first-of-type,
#password-policy-status tr td:nth-of-type(2) {
  display: none;
}

#password-policy-status tr {
  font-size: $font-size-sm;
}

.registration-links-wrapper {
  margin-top: $padding-md;
}

  // User picture
.image-widget {
  width: 80%;
  display: inherit;
}

.image-widget.form-managed-file img {
  padding: 0;
  margin: 0;
}

.file--image,
.file-size {
  display: none;
}

input[id^="edit-user-picture-"] {
  width: 50%;
  height: 36px;
  max-width: 60%;
  margin-top: 2rem;
  margin-left: 2rem;
}

.tabledrag-toggle-weight-wrapper,
.field-multiple-drag {
  display: none;
}


// Global select styles
.select-wrapper {
  width: 80%;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-right: 0;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid $gray-light;
  border-radius: 100vw;
  transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  background: linear-gradient(white, $gray-light);
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

select {
  width: 100%;
  display: block;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: transparent;
  background-image: none;
  background-clip: padding-box;
  border: 0 solid rgba(0,0,0,0.15);
  border-radius: 100vw;
}

.form-file {
  @extend .btn-primary;
}

// User Edit Form
// Adjust links at top so they can take up full width of form area
.page-entity-user-edit_form .layout-content .block-local-tasks-block {
  position: absolute;
  left: 0;
  top: 0;
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    margin: 5px;
  }
}

.page-entity-user-edit_form #password-policy-status {
  display: none;
}


.dashboard > .container:nth-of-type(2) {
  @include media-breakpoint-down(lg) {
    margin: 1rem 0;
  }
}

.form-item-current-pass .description {
  display: block;
}


.user-form .form-item input[type="file"] {
  border: solid 0 $gray-light;
  color: $gray-light;
}


.user-form .form-item input[type="submit"] {
  border: solid 1px $green;
  color: $green;
}

.user-form .form-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  #button-divider {
    flex: 0 0 100%;
  }
}

.user-form .cancel {
  background-color: white;
  border: solid 1px $green;
  color: $green;
  float: right;
}

//Interests is a heierarchical select element
.user-form table .select-wrapper {
  margin-bottom: .5rem;
}

// Repeating hierarchical select items are in dataset tables,
// so this makes that markup function like standard form items
.user-form table {
  display: flex;
  flex-wrap: wrap;
  //align-items: center;
  width: 100%;
  margin-bottom: 30px;
  align-items: flex-start; // prevents title from jumping around when new items are added
  thead {
    @extend %user-form-label;
    h4 {
      font-size: $font-size-base;
      @include media-breakpoint-up(md) {
        line-height: 2.4; // Gives this the effect of looking centered with the first select element
      }
    }
  }
  tbody {
    @extend %input-width;
    display: flex;
    flex-direction: column;
  }
  tr {
    width: 100%;
    display: flex;
    td {
      width: 100%;
      .form-item {
        margin-bottom: 0;
      }
    }
  }
}

// Right align and unset weird default styles for "add more" wrapper
#edit-field-user-interests-wrapper, #edit-field-user-setting-wrapper {
  .clearfix {
    margin-left: auto;
    width: auto;
    top: unset;
  }
}

.user-form tbody .select-wrapper {
  width: 100%;
  float: right;
}


.field-multiple-table {
  table-layout: fixed;
}


#button-divider {
  height: 1px;
  width: 100%;
  background-color: $gray-light;
  margin-bottom: 1rem;
}
