// Dashboard blocks
.block-user-banner {
  padding-top: 0;
  padding-bottom: 10%;
  background-image: url(/themes/custom/nnphi/svg/swirls.svg);
  background-size: 136%;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 13%;
  border-bottom: solid 1px $gray-light;
}

.block-user-banner h1 {
  color: $blue;
  position: relative;
  top: -8rem;
}

.block-user-profile,
.block-bookmarked-trainings,
.block-user-training-suggestions {
  border: 1px solid $gray-light;
  margin-top: $padding-md;
}

.block-user-profile h2,
.block-bookmarked-trainings h2,
.block-user-training-suggestions h2 {
  padding: 1rem 0 1rem 1rem;
  text-transform: uppercase;
  float: left;
  margin-bottom: 0;
  display: inline-flex;
  align-items: center;
}

.block-user-profile h2 + a {
  float: right;
  margin: 1rem 0 .5rem 0;
  text-transform: uppercase;
}

.page-entity-user-canonical [class^="block-"] > h2::before {
  content: '';
  width: 2rem;
  height: 2rem;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 1rem;
}

.block-user-profile h2::before {
  background-image: $profile;
}

.block-bookmarked-trainings h2::before {
  background-image: $bookmark;
}

.block-learning-plans h2::before {
  background-image: $learning-plans;
}

.block-user-training-suggestions h2::before {
  background-image: $speech-bubble;
}

.block-user-profile h2 + a::after {
  content: '';
  width: 1rem;
  height: 1rem;
  background-image: $pencil;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 .5rem;
}

.block-user-profile article,
.block-bookmarked-trainings .block-content {
  clear: both;
  border-top: 1px solid $gray-light;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.block-learning-plans .block-content,
.block-user-training-suggestions .block-content {
  clear: both;
  border-top: 1px solid $gray-light;
}

.block-user-profile article .media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-user-profile article .media-body {
  display: flex;
  flex-direction: column;
}

.block-user-profile article .media,
.block-user-profile article + a {
  margin: 1rem;
}

.block-user-profile article + a {
  text-transform: uppercase;
  color: $green;
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-outline-primary;
  display: flex;
  justify-content: center;
  margin: 0 4rem 1rem;
}

.page-entity-user-canonical #block-nnphi-local-tasks {
  display: none;
}

.field.user-picture img,
.image-widget img {
  @extend .rounded-circle;
  padding: 1rem;
  box-sizing: content-box;
  margin: 1rem 0;
}

.block-user-profile .field {
  clear: both;
  display: inline-flex;
}

.block-user-profile .field-label {
  font-family: $font-family-work-sans;
  font-size: 1rem;
  font-weight: 500;
  color: inherit;
  text-transform: uppercase;
  float: left;
  min-width: 8rem;
}

.block-user-profile .field-value {
  font-family: $font-family-lato;
  color: $gray-text;
}

// Bookmarked Trainings
.page-entity-user-canonical .training-bookmarks {
  clear: both;
  border-top: 1px solid $gray-light;
}

.page-entity-user-canonical .training-node-mini {
  padding: 1rem;
  margin-top: 0;
}

.page-entity-user-canonical .training-bookmark,
.block-user-training-suggestions .block-content {
  border-bottom: solid 1px $gray-light;
  overflow: hidden;
  padding: 0 1rem 0 3rem;
}

.block-user-training-suggestions {}

.page-entity-user-canonical .training-bookmark article,
.page-entity-user-canonical .block-user-training-suggestions article {
  display: inline;
  float: left;
  width: 80%;
}

.page-entity-user-canonical .training-bookmark .training-node-teaser-top-left,
.page-entity-user-canonical .block-user-training-suggestions .training-node-teaser-top-left {
  float: left;
}

.page-entity-user-canonical .training-bookmark h5,
.page-entity-user-canonical .block-user-training-suggestions h5 {
  clear: both;
}

.page-entity-user-canonical .training-node-star {
  float: right;
  margin-top: 0;
}

.flag-bookmark.action-unflag,
.flag-bookmark.action-flag {
  width: 20px;
}

.page-entity-user-canonical .flag-bookmark.action-unflag,
.page-entity-user-canonical .flag-bookmark.action-flag {
  float: right;
  margin-top: 2.3rem;
}

.page-entity-user-canonical .flag-bookmark.action-flag svg .st0 {
  stroke: $gray-light;
}

// Recently Viewed Trainings
.page-entity-user-canonical .block-region-main {
  width: 100%;
}

.page-entity-user-canonical section.training-related {
  background: linear-gradient($carmine, $violet);
  margin-top: $padding-md;
}

// Suggested Trainings
.page-entity-user-canonical .node-preview-disabled {
  clear: both;
  text-align: center;
  margin-bottom: 1rem;
}

.page-entity-user-canonical .node-preview-disabled + a {
  color: $green;
  text-transform: uppercase;
  clear: both;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

.node-preview-disabled h5 a {
  color: $gray-light;
}

// Assessment
.block-user-assessment {
  margin: 3rem;
  text-align: center;
}

.block-user-assessment h2 {
  padding: 1rem 0 1rem 1rem;
  text-transform: uppercase;
  margin-bottom: 0;
  align-items: center;
}

.block-user-assessment .btn-primary {
  margin-top: 1rem;
}

// Announcements
.page-entity-user-canonical .block-region-main-container {
  width: 100%;
}

.block-announcements h2 {
  text-align: center;
  margin: 4rem 0 1rem;
  text-transform: uppercase;
  width: 100%;
}

.block-announcements {
  @extend .row;
  padding: 0 3rem;
}

.block-announcements .date {
  color: $gray;
}

.block-announcements article {
  @extend .col-md-4;
  padding: 2rem;
}

.block-announcements article h2 {
  text-transform: initial;
  color: $gray-dark;
  text-align: left;
  margin: 0;
}

.block-announcements article h2 a {
  color: $gray-dark;
  font-size: 1.5rem;
}