// Label and input widths are used on a few different selectors
%label-width {
  flex: 1 1 20%;
  @include media-breakpoint-down(sm) {
    flex: 1 1 100%;
  }
}

%input-width {
  flex: 1 80%;
  @include media-breakpoint-down(sm) {
    flex: 1 1 100%;
  }
}

//.page-entity-user-edit_form main,
.page-user-register main,
.page-user-login main,
.page-user-pass main {
  @extend .container;
}

//.page-entity-user-edit_form .layout-content,
.page-user-register .layout-content,
.page-user-login .layout-content,
.page-user-pass .layout-content {
  @extend .col-md-8;
  @extend .offset-md-2;
  margin-top: $padding-lg;
  margin-bottom: $padding-lg;
  padding: $padding-lg;
  box-shadow: $box-shadow;
  @include media-breakpoint-down(sm) {
    margin-top: $padding-sm;
    margin-bottom: $padding-sm;
    padding: $padding-sm;
    box-shadow: none;
  }
}

.page-entity-user-edit_form h1,
.page-user-register h1,
.page-user-login h1,
.page-user-pass h1 {
  @extend %blue-heading;
  margin-bottom: $padding-md;
}

.user-form .form-item,
.user-register-form .form-item,
.user-login-form .form-item,
.user-pass .form-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-bottom: $padding-md;
}

.user-pass .form-item {
  margin-bottom: 0;
}

// Remove space between confirm password and password requirements
.user-form .form-item.form-item-pass-pass2,
.user-register-form .form-item.form-item-pass-pass2 {
  margin-bottom: 0;
}

.user-form .form-item label,
.user-register-form .form-item label,
.user-login-form .form-item label,
.user-pass .form-item label {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0; // overrides default label margin
  @extend %label-width;

}

.user-form .form-item label.form-required,
.user-register-form .form-item label.form-required,
.user-login-form .form-item label.form-required,
.user-pass .form-item label.form-required {
  &:after {
    content: '*';
    position: absolute;
  }
}

.user-form .form-item input,
.user-register-form .form-item input,
.user-login-form .form-item input,
.user-pass .form-item input {
  @extend %input-width;
  @extend .form-control;
}

// Algolia autocomplete span sometimes has another .algolia-autocomplete span inside it,
// so this restricts it to just the outer one
.user-form .form-item > .algolia-autocomplete,
.user-register-form .form-item > .algolia-autocomplete {
  @extend %input-width;
}

.user-form .form-submit,
.user-register-form .form-submit,
.user-login-form .form-submit,
.user-pass .form-submit {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-primary;
  &:hover {
    cursor: pointer;
  }
}

.user-form .password-confirm .ok,
.user-register-form .password-confirm .ok {
  color: $green;
}

.user-form .password-confirm .error,
.user-register-form .password-confirm .error {
  color: $red;
}

.user-form .password-suggestions,
.user-register-form .password-suggestions {
  display: none !important; // Overrides javascript inline style. We're using password_policy for password suggestions
}

.user-form .password-strength,
.user-register-form .password-strength {
  @extend %input-width;
  margin-left: auto;
  display: flex;
}

.password-strength__title {
  @extend %label-width;
}

.password-strength__meter {
  order: 1; // Reverses order of title and meter
  background: $red;
  @extend %input-width;
}

.password-strength__indicator {
  background: linear-gradient(to right, $green, $green 80%, $red);
  &.is-strong {
    background: $green;
    width: 100% !important; // Overrides js inline style, which only sets the width to 87.5% max
  }
}

.password-strength__text {
  display: none;
}

// Hide all descriptions per designs
.user-form .description,
.user-register-form .description,
.user-login-form .description {
  display: none;
}

#password-policy-status {
  margin-bottom: $padding-md;
}

#password-policy-status thead {
  font-weight: bold;
  text-transform: uppercase;
}

#password-policy-status tr {
  @include media-breakpoint-down(md) {
    // Fix the table at small screen sizes
    display: flex;
    flex-direction: column;
    margin-bottom: $padding-sm;
  }
}

#password-policy-status td {
  padding: 5px 15px 5px 0;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.password-strength__meter {
  margin: 1rem;
  border-radius: 7px;
}

// Hide the first column of table, which just says "user password" in each cell
#password-policy-status tr td:first-of-type {
  display: none;
}

// User picture
.image-widget {
  width: 80%;
  display: inherit;
}

.image-widget.form-managed-file img {
  padding: 0;
  margin: 0;
}

.file--image,
.file-size {
  display: none;
}

input[id^="edit-user-picture-"] {
  width: 50%;
  height: 36px;
  max-width: 60%;
  margin-top: 2rem;
  margin-left: 2rem;
}

.tabledrag-toggle-weight-wrapper,
.field-multiple-drag {
  display: none;
}

// Interests
.field-user-interests-values h4.label {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1rem;
}

// Global select styles
.select-wrapper {
  width: 80%;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-right: 0;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid $gray-light;
  border-radius: 100vw;
  transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  background: linear-gradient(white, $gray-light);
}

select {
  width: 100%;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: transparent;
  background-image: none;
  background-clip: padding-box;
  border: 0 solid rgba(0,0,0,0.15);
  border-radius: 100vw;
}

.form-file {
  @extend .btn-primary;
}

// User Edit Form
.page-entity-user-edit_form h1 {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 2rem;
  margin: 2rem 19rem;
  @include media-breakpoint-down(lg) {
    margin: 2rem 3rem;
  }
}

.block-user-settings-banner {
  padding-top: 0;
  padding-bottom: 10%;
  background-image: url(/themes/custom/nnphi/svg/swirls.svg);
  background-size: 136%;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 2%;
  border-bottom: solid 1px $gray-light;
}

.page-entity-user-edit_form #block-nnphi-local-tasks {
  display: none;
}

.page-entity-user-edit_form .user-form {
  border: solid 1px $gray-light;
  margin: 2rem 19rem 3rem;
  @include media-breakpoint-down(lg) {
    margin: 0 2rem 3rem;
  }
}

.page-entity-user-edit_form .block-system-main-block h2 {
  border: solid 1px $gray-light;
  padding: 1rem 2rem;
  color: $blue;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 3rem 12rem 0 12rem;
  @include media-breakpoint-down(lg) {
    margin: 3rem 2rem 0 2rem;
  }
}

.dashboard > .container:nth-of-type(2) {
  @include media-breakpoint-down(lg) {
    margin: 1rem 0;
  }
}

.page-entity-user-edit_form .block-system-main-block form {
  padding: 2rem 2rem 3.5rem;
}

.form-item-current-pass .description {
  display: block;
}

#password-policy-status table {
  display: none;
}

.user-form .form-item input[type="file"] {
  border: solid 0 $gray-light;
  color: $gray-light;
}


.user-form .form-item input[type="submit"] {
  border: solid 1px $green;
  color: $green;
}

.user-form .cancel {
  background-color: white;
  border: solid 1px $green;
  color: $green;
  float: right;
  margin-left: 1rem;
}

//Interests is a heierarchical select element
.user-form table .select-wrapper {
  margin-bottom: .5rem;
}

.user-form table h4.label {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1rem;
  font-family: "Lato",sans-serif;
}

.user-form tbody .select-wrapper {
  width: 100%;
  float: right;
}

tr.draggable {
  width: 80%;
  float: right;
  position: relative;
  top: -20px;
}

tr.draggable .select-wrapper:nth-of-type(2) {
  width: 95%;
  margin-left: 5%;
}

tr.draggable .select-wrapper:nth-of-type(3) {
  width: 90%;
  margin-left: 10%;
}

[id^='field-user-interests-'] .clearfix {
  width: 80%;
  margin-left: 20%;
  position: relative;
  top: -20px;
}

.field-multiple-table {
  table-layout: fixed;
}

// I don't like using px, but there is seemingly no other way to control the width of the "Please Select" widget.
@include media-breakpoint-up(md) {
  .field-multiple-table td {
    width: 100%;
    float: right;
    min-width: 500px;
    margin-left: 200px;
  }
}


#button-divider {
  height: 1px;
  width: 100%;
  background-color: $gray-light;
  margin-bottom: 1rem;
}

#edit-submit {
  float: right;
}