.site-footer {
  padding-top: $padding-md;
  padding-bottom: $padding-lg;
  border-top: solid 2px $gray-light;
  margin-top: $padding-md;
}

// On homepage only, no border and no top margin, since it abutts a colored section
.path-frontpage .site-footer {
  margin-top: 0;
  border-top: none;
}

.site-footer-container {
  @extend .container;
}

.footer-left {
  @extend .col-md-4;
}

.footer-mid {
  @extend .col-md-6;
}

.footer-mid nav > ul {
  @extend .row;
  > div {
    @extend .col-md-6;
    margin-bottom: $padding-sm;
    li {
      line-height: 1.2;
      padding-bottom: $padding-sm/2;
    }
  }
}

.footer-right {
  @extend .col-md-2;
}

.footer-right a {
  @include media-breakpoint-down(md) {
    display: flex;
    align-items: flex-start;
  }
}

.footer-right img {
  margin-bottom: $padding-sm;
  @include media-breakpoint-down(md) {
    max-width: 180px; // Ensure that logos are same size
    width: 180px;
  }
}

.site-footer ul {
  @extend .list-unstyled;
  margin: 0;
  a {
    color: #000;
    font-weight: $font-weight-bold;
  }
}

.site-footer h2 {
  text-transform: uppercase;
  color: $gray-text;
  font-size: $font-size-18;
  @include media-breakpoint-down(sm) {
    margin-top: $padding-md; // Gives padding between footer sections
  }
}

.footer-bottom {
  background: $purple;
  color: #fff;
  padding-top: $padding-sm;
  padding-bottom: $padding-sm;
  font-size: $font-size-sm;
}

.footer-bottom-left {
  @extend .col-md-7;
}

.footer-bottom-right {
  @extend .col-md-5;
}

.footer-bottom-right ul {
  @extend .list-unstyled;
  @extend .list-inline;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  @include media-breakpoint-down(md) {
    justify-content: flex-start;
  }
  li {
    padding-right: 35px;
    &:last-child {
      padding-right: 0;
    }
    a {
      color: #fff;
      text-transform: uppercase;
    }
  }
}