// Specificity to override default section padding
.training-hero.hero {
  background-position: 50% 22rem;
  margin: 0;
  @include media-breakpoint-down(md) {
    background-position: 50% 16rem;
  }
  @include media-breakpoint-down(sm) {
    background-position: 50% 26rem;
  }
}

.training-hero.hero h1 {
  top: 0;
}

.training-hero-interior {
  @extend .container;
}

.training-hero-text {
  @extend .col-lg-8;
  @extend .offset-lg-2;
}

.training-hero-interior h1 {
  color: $blue;
  margin-bottom: 25px; // combines with line-heights to get correct spacing
}

.training-hero-source {
  font-family: $font-family-work-sans;
  font-size: $font-size-lg;
  color: $gray-text;
  text-transform: uppercase;
  margin-bottom: $padding-md;
  line-height: 1.1; // Prevents unwanted spacing
}

.training-hero-subtitle {
  font-family: $font-family-work-sans;
  font-size: $font-size-md;
  margin-bottom: 100px;
  font-weight: $font-weight-light;
  line-height: 1.1; // Prevents unwanted spacing
  @include media-breakpoint-down(md) {
    margin-bottom: $padding-md;
  }

  // Cost text
  span {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
}


.training-hero-btn a {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-arrow;
}

%training-hero-top-element {
  font-size: $font-size-sm;
  text-transform: uppercase;
  padding-bottom: $padding-sm;
  @include media-breakpoint-up(xl) {
    position: absolute;
    top: -6rem; // puts this at top of training-hero, but allows us to left position relative to container
  }
}

.search-back {
  @extend %training-hero-top-element;
  @include media-breakpoint-up(xl) {
    left: $padding-sm;
  }
}

.training-hero .social-share-links-wrapper {
  @extend %training-hero-top-element;
  @include media-breakpoint-up(xl) {
    right: $padding-sm;
  }
}