.training-details {
  border-top: solid 2px $gray-light;
  border-bottom: solid 2px $gray-light;
  font-weight: $font-weight-light;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.training-details-container {
  @extend .container;
}

.training-details-row {
  @extend .row;
}

.training-details-row > div {
  @extend .col-lg-2;
  @extend .col-md-3;
  &.training-details-state {
    @extend .col-md-3;
    @extend .col-lg-3;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: $grid-gutter-width-base;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.training-details h2 {
  @extend %details-heading;
}

.training-details-row > div.training-details-dates {
  // Dates get a little extra room
  @extend .col-lg-3;
  @extend .col-md-12;
  font-weight: $font-weight-light;
  span {
    font-weight: $font-weight-bold;
  }
  div {
    display: inline-block; // Interior field wrapper divs
  }
}

.training-details .module-length > span {
  font-weight: $font-weight-bold;
}

.access-difficulty:hover .time-to-start-hover {
  display: inline-block;
}

.time-to-start-hover {
  display: none;
  font-size: $font-size-sm;
  position: absolute;
  top: 105%;
  background: $gray-dark;
  color: #fff;
  padding: $padding-sm/2;
  z-index: 99;
  min-width: 15rem;
  em {
    display: inline;
  }
}