section.training-text {
  @extend .container;
  padding-top: $padding-md;
}

.training-text-row {
  @extend .row;
}

.training-text-row > div {
  @extend .col-lg-6;
}

.training-text-overview > div:first-of-type {
  margin-bottom: $padding-sm;
}

.paragraph--type--instructor {
  display: flex;
  flex-wrap: wrap;
  // Role styles
  > div:first-child {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    width: 30%;
    padding-right: 5%;
    color: $gray-text;
    @include media-breakpoint-down(sm) {
      width: 100%;
      padding-right: 0;
    }
  }
}


// Green checkmarks for overview text
.training-text-overview ul li {
  list-style-type: none;
  position: relative;
  &:before {
    color: $green-dark;
    /* unicode for bullet */
    content: "\2022";
    font-size: 1em;
    padding-right: 1.1225em;
    position: absolute;
    top: 0;
    left: -20px;
  }
}

// Checkmark bullets for objectives text
.training-text-objectives ul li {
  @extend %checkmark-list;
}
