%section-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.training-node section.training-hero {
  @extend %section-padding;
  @include media-breakpoint-down(lg) {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
  }
}

.training-subtitle {
  text-transform: uppercase;
}

// Bookmarked Training Folder page.
.page-entity-bookmark_folder-canonical #block-nnphi-content {
  @extend .container;
}

.bookmark-folder-move-to-folder table span.checkbox-target {
  margin-left: 1rem;
}

.page-entity-bookmark_folder-canonical .user-bookmarks-table {
  border-top: none;
}

.page-entity-bookmark_folder-canonical .table-responsive {
  display: table;
}

// Breadcrumbs for Bookmarked Training Folder page.
.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 1rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 0;
  color: black;
  border: solid 1px $gray-light;
  border-bottom: none;
}

.breadcrumbs::before {
  background-image: url('/themes/custom/nnphi/svg/bookmark.svg');
  content: '';
  width: 2rem;
  height: 2rem;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 1rem;
}

// Breadcrumb divider.
.folder-name {
  text-transform: capitalize;
  color: $gray-text;
}

.folder-name::before {
  content: "\f105"; /* In fontawesome, is a right-angle (fa-right-angle) */
  font-family: 'FontAwesome';
  font-weight: bold;
  color: $gray-light;
  padding: 10px;
}

// Ratings and Reviews Section.
.comment-training-review-form .fieldset-wrapper {
  font-family: 'FontAwesome';

  > #edit-field-training-review-overall,
  > #edit-field-training-review-content,
  > #edit-field-training-review-relevance,
  > #edit-field-training-review-present {
    border: none;
    display: inline-block;

    &:not(:checked) {
      > input {
        position: absolute;
        //top: -9999px;
        clip: rect(0,0,0,0);
      }

      > label {
        float: right;
        width: 1.7rem;
        padding: 0 .05em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 1.5rem;
        color: $gray-light;

        &:before {
          content: '\f005';
          font-weight: normal;
        }

        &:hover,
        &:hover ~ label {
          color: $green;
          text-shadow: 0 0 3px $green;
          &:before {
            content: '\f005';
            font-weight: bold;
          }
        }
      }
    }

    > input:checked {
      & ~ label {
        color: $green;
        &:before {
          content: '\f005';
          font-weight: bold;
        }
      }
    }

    > label:active {
      position: relative;
      top: 2px;
    }
  }
}