.background-block {
  background-color: $green-dark;
  padding-bottom: $padding-md;
}

.background-block  h2.field-steps-block-title {
  padding-top: $padding-md;
}

.background-block .body {
  @extend .container;
  margin: 0 auto $padding-sm auto;
  text-align: center;
  color: #fff;
}

.field-icons {
  @extend .container;
  @extend .row;
  margin: $padding-md auto 0 auto;
  > div {
    @extend .col-md-4;
    margin-bottom: $padding-md;
  }
}

.paragraph--type--icon-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.field-icon {
  margin-bottom: $padding-md;
}

.field-icon-text {
  text-align: center;
}

.field-background-block-link {
  text-align: center;
  a {
    @extend .btn;
    @extend .btn-secondary;
  }
}