

.field-steps {
  padding-top: $padding-md;
  padding-bottom: $padding-md;
}

.field-steps .field-value {
  @extend .col-md-6;
  margin: 0 auto;
  &:first-child {
    background: green;
  }
  &:nth-child(2) {
    background: yellow;
  }
  &:nth-child(3) {
    background: red;
  }
}