.new-popular-block {
  padding-top: $padding-lg;
  padding-bottom: $padding-lg;
}

.new-popular-block h3 {
  font-weight: 200;
  text-transform: uppercase;
  color: $purple;
}

.new-popular-block-interior {
  @extend .container;
  display: flex;
  flex-wrap: wrap;
}

.new-trainings-wrapper,
.popular-trainings-wrapper {
  @extend .col-md-6;
  @include media-breakpoint-down(md) {
    padding-bottom: $padding-md;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.new-popular-block .training-node-mini {
  border: solid 3px $blue;
  border-radius: $border-radius-lg;
  box-shadow: $green-dark 4px 4px 0;
}

.new-popular-block .training-node-mini h5 a {
  color: $blue;
}

.new-popular-block .search-training-block-link {
  margin-top: $padding-md;
}

.new-popular-block .down-arrow-scroll polyline,
.link-block .down-arrow-scroll polyline {
  stroke: $purple;
}