.popular-searches-block {
  @extend .container;
  padding-top: $padding-lg;
  padding-bottom: $padding-lg;
}

.popular-searches-interior {
  // Basically row behavior, but without the negative margins
  // Makes it line up better with the new/popular trainings block
  display: flex;
  flex-wrap: wrap;
}

.popular-searches-block h2 {
  text-transform: uppercase;
  font-weight: 200;
}

.popular-searches-left,
.popular-searches-right {
  @extend .col-md-6;
  @include media-breakpoint-down(md) {
    padding-bottom: $padding-md;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.popular-searches-block ul {
  @extend .list-unstyled;
}

.popular-searches-block a {
  color: $black;
}