.popular-searches-block {
  @extend .container;
}

.popular-searches-interior {
  @extend .row;
}

.popular-searches-block h2 {
  text-transform: uppercase;
  font-weight: 200;
}

.popular-searches-left,
.popular-searches-right {
  @extend .col-md-6;
  @include media-breakpoint-down(md) {
    padding-bottom: $padding-md;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.popular-searches-block ul {
  @extend .list-unstyled;
}

.popular-searches-block a {
  color: $black;
}