.search-training-block {
  padding-top: $padding-lg;
  padding-bottom: $padding-lg;
  background: linear-gradient(45deg, $blue, $purple);
}

.search-training-block-interior {
  @extend .container;
}

.search-training-block-content {
  @extend .col-lg-8;
  @extend .offset-lg-2;
}

.search-training-block h1 {
  @extend %white-heading;
  @include media-breakpoint-down(sm) {
    margin-bottom: $padding-md;
  }
}

.search-training-block-link {
  text-align: center;
}

.search-training-block-link a {
  @extend .btn;
  @extend .btn-primary;
  // Allow button to wrap at small breakpoints
  @include media-breakpoint-down(sm) {
    white-space: normal;
    line-height: 1.2;
  }
}

.search-training-block .training-search-input {
  font-weight: 200;
  color: $gray-text;
  padding: $padding-sm $padding-lg;
  text-align: center;
  @include media-breakpoint-up(md) {
    font-size: $font-size-md;
  }
}

.search-training-block-text {
  margin-top: $padding-md;
  text-align: center;
  @extend %white-text;
}

.down-arrow-scroll {
  display: flex;
  padding: $padding-md 0 0 0;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
  svg {
    fill: $green;
    width: 35px;
    height: 35px;
  }
}

.browse-training-link {
  display: block;
  text-align: center;
  color: white;
  text-decoration: underline;
  margin-top: $padding-sm;
  &:hover {
    color: darken(white, 10%);
  }
}