.block-random-quiz {
  padding-top: $padding-md;
  padding-bottom: $padding-md;
  text-align: center;
}

.block-random-quiz.gradient-bg {
  background: linear-gradient(45deg, $blue, $purple);
}

.block-random-quiz h2 {
  @extend %section-title-h2;
  margin-top: 0;
}

.block-random-quiz.block-random-quiz h2 {
  padding-top: 0;
}

.block-random-quiz.white-bg h2 {
  color: $blue-dark;
}

.block-random-quiz.gradient-bg h2 {
  color: #fff;
}

.random-quiz-form {
  @extend .container;
}

.field-ma-question {
  font-size: $font-size-18;
  margin-bottom: $padding-md;
}

.block-random-quiz.gradient-bg .field-ma-question {
  color: #fff;
}

.result-message {
  @extend .large-text;
  font-size: $font-size-md;
  a {
    text-decoration: underline;
  }
}

.block-random-quiz.gradient-bg .result-message {
  color: #fff;
  a {
    color: #fff;
  }
}

.js-webform-radios {
  display: inline-flex;
  flex-direction: column;
  margin: 0 auto;
}

.micro-assessment-form .form-item-choice {
  margin-bottom: $padding-sm;
  display: inline-flex;
  align-items: center;
  text-align: left;
  padding-right: $padding-sm;
  position: relative;
  &:last-child {
    padding-right: 0;
  }
  .custom-radio {
    margin: 0 $padding-sm 0 0;
  }
  // Labels are what's actually being clicked on, but because of the markup the radio-target
  // needs the styling
  label {
    // margin/padding ensures this covers the whole area we want clicked
    // 30px is width of the pseudo checkmark & padding
    margin: 0 0 0 -30px;
    padding-left: 30px;
    width: 100%;
    position: relative;
    z-index: 999;
    &:hover {
      cursor: pointer;
    }
  }

  .radio-target:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -5px;
    right: -7px;
    bottom: -2px;
  }
}

.micro-assessment-form .form-radio:checked+span.radio-target:before {
  border: solid 1px $green;
  border-radius: $border-radius;
}

.block-random-quiz.gradient-bg .micro-assessment-form .form-item-choice label {
  color: #fff;
}


.micro-assessment-form .form-submit {
  @extend .btn;
  @extend .btn-primary;
  display: flex;
  margin: 0 auto;
  &:hover {
    cursor: pointer;
  }
}

.block-random-quiz.gradient-bg .micro-assessment-form .form-submit {
  @extend .btn-secondary;
  color: $purple;
  &:hover {
    color: darken($purple, 10%);
  }
}