{# Mimics the flag--bookmark template without requiring an actual flag element #}
<div class="flag flag-bookmark action-flag">
  <a href="{{ url }}">
    {{ source(directory ~ '/svg/bookmark.svg') }}
    <span class="bookmark-text">{{ text }}</span>
  </a>
  <p class="flag-text">{{ "Don't have an account? Create one to unlock the bookmarking feature and other tools to personalize your learning experience."|t }}</p>
</div>
