<script type="text/template" id="search-autocomplete-footer">
  <div class="search-block-footer">
    {% set path = url('nnphi_training.instant_search') %}
    <a class="advanced-search" href="{{ path }}">{{ 'Advanced search >>' |t }}</a>
  </div>
</script>
