<div class="container">
  <div class="row">
    <div class="col-4">
      <div id="ceus"></div>
      <div id="course-types"></div>
      <div id="levels"></div>
      <div id="locations"></div>
      <div id="competency"></div>
      <div id="occupation"></div>
      <div id="job-tasks"></div>
      <div id="reset"></div>
    </div>
    <div class="col-8">
      <div id="search-box"></div>
      <div id="stats"></div>
      <div id="hits">{{ 'Enter search terms to get started.'|t }}</div>
      <div id="pagination"></div>
    </div>
  </div>
</div>
