<div class="training-hero-subtitle">
  {% if text|render and cost|render %}
    {{ text }} <span>— {{ cost }}</span>
  {% elseif text|render %}
    {{ text }}
  {% elseif cost|render %}
    <span>{{ cost }}</span>
  {% endif %}
</div>