<div class="dashboard">
    <div class="banner container-fluid">
      {{ content.banner }}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
              {{ content.left_column_first }}
            </div>
            <div class="col-sm-4    ">
              {{ content.right_column_first }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          {{ content.main }}
        </div>
    </div>
</div>
