<div id="{{ id }}" class="menu-btn">
  <span class="visually-hidden">{{ 'Toggle Menu'|t }}</span>
  <div class="menu-btn-interior">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="menu-helper-text">{{ 'Menu'|t }}</div>
  <div class="menu-helper-text-open">{{ 'Close'|t }}</div>
</div>