{# Placeholder for training search form #}
<form class="training-search-form">
  <input placeholder="SEARCH FOR TRAININGS" class="training-search-input"/>
  <input type="submit" class="training-submit" />
</form>