@mixin logo($color) {
  font-size: $font-size-18;
  font-weight: $font-weight-light;
  font-family: $font-family-proxima-nova;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  color: $color;
  line-height: 1.6; // Gets the right spacing between items
  span {
    display: inline-block;
  }
  @include hover-focus-active {
    text-decoration: none;
    color: lighten($color, 10%);
  }
}

.site-logo {
  @include logo(#000);
}

.site-logo-bottom {
  font-weight: 900;
}

// Footer logo gets slightly different styles
.site-footer .site-logo {
  @include logo($gray-text);
  margin-bottom: $padding-md;
}