.messages {
  @extend .container;
  margin-top: $padding-sm;
  margin-bottom: $padding-sm;
}

.messages-interior {
  padding: $padding-sm;
}

.messages-error .messages-interior {
  background: $red;
}

.messages-warning .messages-interior {
  background: $orange;
}

.messages-status .messages-interior {
  background: $green;
}
