// Apply brand styles to local tasks, since they're visible on user pages to non-admins
[id$='-local-tasks'] {
  @extend .container;
  margin-top: $padding-sm;
  margin-bottom: $padding-sm;

  ul {
    @extend .btn-group;
    margin: 0;
    padding: 0;
    li {
      @extend .list-unstyled;
      margin: $padding-sm;
      &:first-child {
        margin-left: 0;
      }
      a {
        @extend .btn;
        @extend .btn-sm;
        @extend .btn-outline-primary;
      }
    }

  }
}