%training-search-input {
  width: 100%;
  padding-left: 70px; // space for background image
  background-image: $search-icon;
  background-repeat: no-repeat;
  background-position: 25px 50%;
  background-size: 22px;
  @extend .form-control;
  margin-top: 0; // Overrides default form-text margin
}

.training-search-form {
  flex: 1 1 300px; // Somewhat arbitrary, but keeps the form at a reasonable width
  position: relative;
  form {
    width: 100%;
    .training-search-input {
      @extend %training-search-input;
    }
  }
}

.training-submit {
  position: absolute;
  right: 25px;
  top: 0;
  bottom: 0;
  width: 25px;
  font: 0/0 a;
  background-color: transparent;
  border: none;
  background-image: $right-arrow-bg-green;
  background-repeat: no-repeat;
  background-position: 50%;
  &:hover {
    cursor: pointer;
  }
}

// Styles for autocomplete dropdown
.aa-dropdown-menu {
  background-color: #fff;
  border-radius: $border-radius;
  border: 1px solid $gray-light;
  margin-top: $padding-sm;
  padding-left: $padding-sm;
  padding-right: $padding-sm;
}

// Styles for autocomplete suggestions
.aa-suggestion {
  padding-top: $padding-sm/2;
  padding-bottom: $padding-sm/2;
  cursor: pointer;
  line-height: 1.2;
  &:hover {
    color: $blue;
  }
}
