%white-heading {
  font-weight: 200;
  color: #fff;
  text-align: center;
  margin-bottom: $padding-lg;
  margin-top: 0;
}

%white-text {
  color: #fff;
  line-height: 1.6; // per designs
  font-weight: 200;
}

// Green checks. Apply this to LIs
%checkmark-list {
  list-style-type: none;
  position: relative;
  padding-bottom: $padding-md;
  &:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -32px;// Magic numbers to get icon alignment to look right
    top: 7px;
    background-image: $checkmark-bg;
  }
}

// Green dots. Apply this to LIs
%green-dot-list {
  list-style-type: none;
  position: relative;
  &:before {
    color: $green-dark;
    /* unicode for bullet */
    content: "\2022";
    font-size: 1em;
    padding-right: 1.1225em;
    position: absolute;
    top: 0;
    left: -20px;
  }
}

%blue-heading {
  text-transform: uppercase;
  color: $blue;
  font-size: $font-size-lg;
}

%details-heading {
  font-family: $font-family-libre-franklin;
  font-weight: $font-weight-bold;
  font-size: $font-size-18;
}

/* Styles used in CKEditor/ */
.large-text {
  font-family: $font-family-proxima-nova;
  font-weight: 200;
  font-size: $font-size-h1;
  line-height: 1.6;
  margin-bottom: 0;
}

.large-text-bold {
  @extend .large-text;
  font-weight: 500;
  line-height: 1.6;
}

.all-caps-text {
  font-family: $font-family-proxima-nova;
  font-weight: 500;
  font-size: $font-size-lg;
  text-transform: uppercase;
  line-height: 1.6;
}

.green-links a {
  text-transform: uppercase;
  color: $green;
}