// Select all the user account menus. Since there are multiple, one has the block ID appended to the ID
nav[id^=block-useraccountmenu] ul {
  @extend .list-unstyled;
  margin: 0;
  li {
    display: inline-block;
    text-transform: uppercase;
    a {
      color: $green;
      font-size: $font-size-sm;
    }
    a.register-link {
      color: $green;
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-outline-primary;
      margin-left: $padding-md;
    }
  }
}

// At small screen sizes this is placed inside dropdown, which is what these styles are for
.site-header nav[id^=block-useraccountmenu] {
  @include media-breakpoint-down(sm) {
    display: none; // toggled with js
  }
  ul {
    @include media-breakpoint-down(sm) {
      padding-left: 20px;
      padding-top: $padding-sm;
    }
  }
  a {
    @include media-breakpoint-down(sm) {
      color: #fff;
    }
  }
  a.register-link {
    @include media-breakpoint-down(sm) {
      color: #fff;
      border-color: #fff;
      &:hover {
        background: #fff;
        border-color: #fff;
        color: $green-dark;
      }
    }
  }

}

.site-footer nav[id^=block-useraccountmenu] ul {
  li {
    a {
      color: #000;
    }
    a.register-link {
      // Will need to be abstracted if used elsewhere
      @include button-variant(#000, transparent, #000);
      @include hover {
        color: #fff;
        background-color: #000;
        border-color: #000;
      }
    }
  }
}