.webform-submission-form div.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: $padding-md;
  align-items: flex-start;
  &.js-form-type-radio {
    margin-bottom: $padding-sm;
    flex-direction: row;
    .custom-radio {
      margin: 0 .5rem 0 0;
    }
  }
  label {
    font-weight: bold;
  }
  div {
    max-width: 100%;
  }
}


.webform-submission-form .form-item input,
.webform-submission-form textarea {
  border: solid 2px $gray-light;
  width: 35vw; // Keeps inputs and text areas the same size
  max-width: 100%;
  @include media-breakpoint-down(lg) {
    width: 100%;
  }
  &:focus {
    outline: none;
    border-color: $purple;
  }
}

.webform-submission-form .js-form-type-textarea div {
  width: 100%;
}

.webform-submission-form .select-wrapper {
  width: 35vw;
  @include media-breakpoint-down(lg) {
    width: 100%;
  }
}

.webform-submission-form .form-actions input {
  @extend .btn;
  @extend .btn-primary;
  &:hover {
    cursor: pointer;
  }
}

.webform-submission-form div.js-form-type-webform-markup {
  margin-bottom: 0; // Remove margin from markup, since it likely is above a form element with its own margin
}

// Radio options
.webform-submission-form fieldset.webform-type-radios {
  .js-webform-radios {
    display: flex;
    flex-direction: column;
  }
  input {
    width: auto;
  }
}


.custom-radio + label {
  // margin/padding ensures this covers the whole area we want clicked
  // 30px is width of the pseudo checkmark & padding
  margin: 0 0 0 -30px;
  padding-left: 30px;
  width: 100%;
  position: relative;
  z-index: 999;
  &:hover {
    cursor: pointer;
  }
}